hello upload to youtube
<br />
<% if user_signed_in? %>
  Signed in as <%= current_user.email %>
  <div id="ember-application"></div>
  <% if Rails.env.production? %>
    <%= include_ember_script_tags :frontend %>
    <%= include_ember_stylesheet_tags :frontend %>
  <% else %>
    <%= include_ember_script_tags :frontend %>
    <%= include_ember_stylesheet_tags :frontend %>
  <% end %>
<% else %>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<% end %>
