{{video-editor baseImage=upload.baseImage images=upload.sortedImages saveImage=(action "saveImage")}}
{{track-uploader setUpload=(action "setUpload") upload=upload}}

{{input type="text" value=upload.title}}
{{input type="text" value=upload.description}}
